<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="titulo">Pesquisa de Produtos</ui:define>
	<ui:define name="conteudo">
		<h1 class="aw-page-title">Pesquisa de Produtos</h1>

		<h:form id="frm">

			<p:toolbar style="margin-top:20px;margin-bottom:20px;">
				<p:toolbarGroup>
					<p:commandButton value="Pesquisar" />
				</p:toolbarGroup>

				<p:toolbarGroup align="right">
					<p:button value="Novo" outcome="/produtos/CadastroProduto" />
				</p:toolbarGroup>
			</p:toolbar>

			<div class="ui-fluid">
				<p:panelGrid id="capaPanel" columns="2" layout="grid"
					style="margin-top: 20px; margin-bottom: 40px"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-3, ui-grid-col-9">

					<h:panelGroup>
						<p:outputLabel value="SKU" for="sku" />
						<p:inputText id="sku" maxlength="10" />
					</h:panelGroup>

					<h:panelGroup>
						<p:outputLabel value="Descrição" for="descricao" />
						<p:inputText id="descricao" maxlength="60" />
					</h:panelGroup>

					<h:panelGroup>
						<p:outputLabel value="Codigo de Barras" for="cBarras" />
						<p:inputText id="cBarras" maxlength="60" />
					</h:panelGroup>

				</p:panelGrid>

				<p:dataTable id="produtosTable" reflow="true"
					value="#{pesquisaProdutosBean.produtosFiltrados}" var="produtos"
					emptyMessage="Nenhum produto encontrado" paginator="true"
					paginatorAlwaysVisible="false" paginatorPosition="bottom" rows="10"
					style="margin-top:20px;" rowsPerPageTemplate="10, 20, 30, 40, 50">

					<p:column headerText="SKU">
						<h:outputText value="123" />
					</p:column>

					<p:column headerText="Cod. Barras">
						<h:outputText value="8923444555" />
					</p:column>

					<p:column headerText="Descrição">
						<h:outputText value="Moto G4" />
					</p:column>

					<p:column headerText="Categoria">
						<h:outputText value="Dispositivis Moveis" />
					</p:column>

					<p:column headerText="Valor">
						<h:outputText value="R$ 1.000,00" />
					</p:column>

					<p:column headerText="Estoque">
						<h:outputText value="54" />
					</p:column>

					<p:column headerText="Ações">
						<p:button icon="fa fa-edit" style="width:40px"
							title="Editar Registro" />
						<h:outputText value=" | " />
						<p:commandButton icon="fa fa-trash" style="width:40px"
							title="Excluir Registro">

							<p:confirm header="Confirmação"
								message="Deseja excluir o produto?" icon="ui-icon-alert" />
							<!-- <f:attribute name="produtoSelecionado" value="#{produto}" />-->
						</p:commandButton>
					</p:column>

				</p:dataTable>


				<p:confirmDialog global="true">
					<p:button value="Sim" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="Não" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</div>


		</h:form>

	</ui:define>

</ui:composition>