<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">



	<nav class="aw-menu">
		<h:form>
			<div class="ui-fluid">
				<h4 style="text-align: center" class="js-toggle">Menu</h4>
				<p:menu toggleable="true" style="border:none;">
					<p:submenu label="Cadastro">
						<p:menuitem value="Estado" icon="ui-icon-disk" />
						<p:menuitem value="Cidade" icon="ui-icon-arrowrefresh-1-w" />
						<p:separator />
						<p:submenu label="Produto">
							<p:menuitem value="Listagem" outcome="/produtos/PesquisaProduto" />
							<p:menuitem value="Novo" outcome="/produtos/CadastroProduto" />
						</p:submenu>
					</p:submenu>
					<p:submenu label="Pedidos">
						<p:menuitem value="Listagem" outcome="/pedidos/PesquisaPedidos" />
						<p:menuitem value="Novo" outcome="/pedidos/CadastroPedidos" />
					</p:submenu>
				</p:menu>
			</div>
		</h:form>
	</nav>

</ui:composition>