<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html">



	<nav class="aw-menu">
		<ul>
			<!-- <li styleClass="dropdown-toggle" data-toggle="dropdown"><h:link>-->
			<li data-toggle="dropdown"><h:link styleClass="dropdown-toggle">
					<i class="fa  fa-fw  fa-home"></i>Menu</h:link></li>
			<!-- <li class="is-selected"><h:link>-->
			<li><h:link>
					<i class="fa  fa-fw  fa-user"></i>Cadastro
					<ol>
						<li><h:link>
								<i class="fa  fa-fw  fa-file-text"></i>Página 2</h:link></li>
					</ol>
				</h:link></li>
			<li><h:link>
					<i class="fa  fa-fw  fa-file-text"></i>Página 2</h:link></li>
			<li><h:link>
					<i class="fa  fa-fw  fa-cog"></i>Página 3</h:link></li>
		</ul>
	</nav>

</ui:composition>