<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
	<p:toolbar style="margin-top:20px;margin-bottom:20px;">
		<p:toolbarGroup>
			<p:menuButton value="Cadastro">
				<p:menuitem value="Novo" outcome="/pedidos/CadastroPedidos" />
				<p:menuitem value="Salvar" />
				<p:menuitem value="Cancelar" />
				<p:menuitem value="Pesquisar" outcome="/pedidos/PesquisaPedidos" />
			</p:menuButton>
		</p:toolbarGroup>

		<p:toolbarGroup align="right">
			<p:menuButton value="Options">
				<p:menuitem value="Emitir" />
				<p:menuitem value="Envio por e-mail" />
			</p:menuButton>
		</p:toolbarGroup>
	</p:toolbar>
</ui:composition>