<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:panelGrid id="entregaTab" columns="4" layout="grid"
		styleClass="panelgrid-noborder"
		columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-2, ui-grid-col-4">

		<p:outputLabel value="Data de Entrega" for="dataEntrega" />
		<p:calendar id="dataEntrega" pattern="dd/MM/yyyy" locale="pt"
			navigator="true"/>

		<h:outputText value="" />
		<h:outputText value="" />

		<p:outputLabel value="Logradouro" for="logradouro" />
		<p:inputText id="logradouro" />

		<p:outputLabel value="Numero" for="numero" />
		<p:inputText id="numero" />

		<p:outputLabel value="Complemento" for="complemento" />
		<p:inputText id="complemento" />

		<p:outputLabel value="Estado" for="estado" />
		<p:selectOneMenu filter="true" filterMatchMode="startsWith"
			id="estado">
			<f:selectItem itemLabel="Piaui" itemValue="1" />
			<f:selectItem itemLabel="Maranhão" itemValue="2" />
			<f:selectItem itemLabel="Ceará" itemValue="3" />
		</p:selectOneMenu>

		<p:outputLabel value="Cidade" for="cidade" />
		<p:selectOneMenu filter="true" filterMatchMode="startsWith"
			id="cidade">
			<f:selectItem itemLabel="Teresina" itemValue="1" />
			<f:selectItem itemLabel="Timon" itemValue="2" />
			<f:selectItem itemLabel="Tianguá" itemValue="3" />
		</p:selectOneMenu>

		<p:outputLabel value="Cep" for="cep" />
		<p:inputMask mask="99.999-999" id="cep" />


	</p:panelGrid>

</ui:composition>