<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<p:dataTable value="#{cadastroPedidosBean.itens}" var="item"
		id="tabelItens" reflow="true">
		<p:column headerText="SKU" style="width:100px">
			<p:inputText size="8" />
		</p:column>
		<p:column headerText="Produto" width="40%">
			<p:autoComplete />
		</p:column>
		<p:column headerText="Valor unitário">
			<h:outputText value="R$ 0,00" style="font-weight:bold" />
		</p:column>
		<p:column headerText="Quantidade">
			<p:inputText value="1" />
		</p:column>
		<p:column headerText="Estoque">
			<h:outputText value="20" style="font-weight:bold" />
		</p:column>
		<p:column headerText="Valor Total">
			<h:outputText value="R$ 0,00" style="font-weight:bold" />
		</p:column>

		<p:columnGroup type="footer">
			<p:row>
				<p:column colspan="5" footerText="Subtotal" style="text-align:right" />
				<p:column footerText="R$ 0,00" style="text-align:right" />
			</p:row>
		</p:columnGroup>
	</p:dataTable>

</ui:composition>