<ui:composition template="/WEB-INF/templates/Layout.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
 
<ui:define name="titulo">Dashboard</ui:define>
<ui:define name="corpo">
	<br/><br/>Teste<br/><br/>
</ui:define>
</ui:composition>
