<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/templates/Layout.xhtml">

	<ui:define name="content">
		<h1 class="aw-page-title">Título da sua página</h1>

		<h:form id="frm">
			<div class="ui-fluid">
				<p:panelGrid id="capaPanel" columns="4" layout="grid"
					style="margin-top: 20px; margin-bottom: 40px"
					styleClass="panelgrid-noborder"
					columnClasses="ui-grid-col-2, ui-grid-col-4, ui-grid-col-2, ui-grid-col-4">
					
					
					<h:panelGroup>
					<p:outputLabel value="Codigo de Barras" for="cBarras" />
					<p:inputText id="cBarras" maxlength="60" />
				</h:panelGroup>

				<h:panelGroup>
					<p:outputLabel value="Descrição" for="descricao" />
					<p:inputText id="descricao" maxlength="60" />
				</h:panelGroup>

				<h:panelGroup>
					<p:outputLabel value="Cor" for="cor" />
					<p:selectOneMenu id="cor">
					</p:selectOneMenu>
				</h:panelGroup>

				<h:panelGroup>
					<p:outputLabel value="Categoria" for="categoria" />
					<p:selectOneMenu id="categoria">
					</p:selectOneMenu>
				</h:panelGroup>

				<h:panelGroup>
					<p:outputLabel value="Fabriante" for="fabricante" />
					<p:selectOneMenu id="fabricante">
					</p:selectOneMenu>
				</h:panelGroup>

				<h:panelGroup>
					<p:outputLabel value="Artigo" for="artigo" />
					<p:selectOneMenu id="artigo">
					</p:selectOneMenu>
				</h:panelGroup>

				<h:panelGroup>
					<p:outputLabel value="Unidade" for="unidade" />
					<p:selectOneMenu id="unidade">
					</p:selectOneMenu>
				</h:panelGroup>

				<h:panelGroup>
					<p:outputLabel value="ICMS" for="icms" />
					<p:inputText id="icms" maxlength="60" />
				</h:panelGroup>

				<h:panelGroup>
					<p:outputLabel value="IPI" for="ipi" />
					<p:inputText id="ipi" maxlength="60" />
				</h:panelGroup>

				<h:panelGroup>
					<p:outputLabel value="Localizar Imagem"/>
					<p:commandButton value="Imagem" />
				</h:panelGroup>

					
				</p:panelGrid>
			</div>
		</h:form>
	</ui:define>

</ui:composition>